## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- List popular languages for data science
- List commonly used libraries by Data Scientists
- List a few examples of evaluatin arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python


- Addition: answer = 2 + 2
- Multiplication: answer = 2 * 2
- Division: answer = 2 / 2

In [3]:
#This a simple arithmetic expression to mutiply then add integers.

answer = (3*4)+5
print(answer)

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

hours = 200 / 60
print(hours)

3.3333333333333335

## Author
Khalid Belhaji